@media (hover: hover) {
  #creditcard {
    transform: translateY(110px);
    transition: transform 0.1s ease-in-out;
  }

  #money {
    transform: translateY(180px);
    transition: transform 0.1s ease-in-out;
  }

  button:hover #creditcard {
    transform: translateY(0px);
    transition: transform 0.2s ease-in-out;
  }

  button:hover #money {
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.25rem);
  }
  100% {
    transform: translateY(0);
  }
}

.button:hover .button__text span {
  transform: translateY(-0.25rem);
  transition: transform .2s ease-in-out;
}

.button {
  margin: 30px 0 0;
  border: none;
  outline: none;
  padding: 1rem 90px 1rem 2rem;
  position: relative;
  border-radius: 8px;
  letter-spacing: 0.7px;
  background-color: #5086bd;
  color: #fff;
  font-size: 21px;
  font-family: "Lato", sans-serif;
  cursor: pointer;
  box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
  @include mobile-medium {
    display: flex;
    margin: 30px auto;
  }
}

.button:active {
  transform: translateY(1px);
}

.button__svg {
  position: absolute;
  overflow: visible;
  bottom: 6px;
  right: 0.2rem;
  height: 140%;
}
