.header {
  transition: .3s;
  top: 0;
  z-index: 2;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  background: #1b1b1b;
}
.links {
  display: flex;
  list-style: none;
  button {
    color: #fff;
    font-family: 'Permanent Marker', cursive;
    margin: 15px 20px;
    font-size: 20px;
    background-color:unset;
    border: 0;
    letter-spacing: .5px;
    a {
      color: #fff;
      font-family: 'Permanent Marker', cursive;
      font-size: 20px;
      background-color:unset;
      border: 0;
      cursor: pointer;
      letter-spacing: .5px;
      text-decoration: none;
    }
  }
  .show__header {
    position: absolute;
    top: 59px;
    left: 50%;
    background-color: rgb(119,119,119 , 0.7);
    color: rgb(32, 32, 32);
    width: 15rem;
    height: 2.5rem;
    border: none;
    outline: none;
    clip-path: polygon(0px 0px, 100% 0px, 80% 100%, 20% 100%);
    transform: translateX(-50%);
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    button {
      color: #1b1b1b;
      letter-spacing: .5px;
      cursor: pointer;

    }
  }
}
.not-show {
  top: -60px;
}