.card {
  &__buttons{
    display: flex;
    justify-content: center;
    align-items: flex-nd;
    gap: 20px;
    @include mobile-medium {
      align-items: center;
    }
    @include tablet-sm {
      margin: 20px 0;
    }
  }
  &__container{
    max-width: 800px;
    margin: auto;
    align-items: center;
    height: 100vh;
    display: flex;
    grid-gap: 20px;
    @include tablet-sm {
      flex-direction: column;
      margin: 50px 0 0;
      img {
        width: 90% !important;
      }
    }
    img {
      width: 350px;
    }
    .info {
      h1 {
        font-size: 28px;
        font-weight: 400;
      }
      h2 {
        color: rgba(119, 119, 119);
        font-size: 18px;
        letter-spacing: .9px;
        margin:5px 0;
        font-weight: 400;
      }
      .sizes {
        font-size: 20px;
        margin: 20px 0 0;
        .selected-size{
          background: rgb(119,119,119,0.2);
        }
        ul {
          display: flex;
        }
      }

    }
  }
  .tilt-box-wrap{
    width: 400px;
    height: 400px;
    position: relative;
    transition: all 0.6s ease-out;
    perspective: 1000px;
    padding: 40px 0;
    @include mobile-medium{
      width: 100%;
    }
  }
  .tilt-box-wrap:hover{
    transition: all 0.3s linear;
    transform: scale(1.1);
    @include tablet {
      transform: scale(1);
    }
  }
  .tilt-box{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.25s ease-out;
    transform:rotateX(0deg) rotateY(0deg);
    perspective: 1000px;
    transform-style: preserve-3d;
  }
  .tilt-box strong{
    transform:translateZ(40px);
  }
  .t_over{
    width: 33.333%;
    height: 33.333%;
    position: absolute;
    z-index: 1;
  }

  .t_over:nth-child(1){ left: 0; top: 0; }
  .t_over:nth-child(2){ left: 33.333%; top: 0; }
  .t_over:nth-child(3){ left: 66.666%; top: 0; }
  .t_over:nth-child(4){ left: 0; top: 33.333%; }
  .t_over:nth-child(5){ left: 33.333%; top: 33.333%; }
  .t_over:nth-child(6){ left: 66.666%; top: 33.333%; }
  .t_over:nth-child(7){ left: 0; top: 66.666%; }
  .t_over:nth-child(8){ left: 33.333%; top: 66.666%; }
  .t_over:nth-child(9){ left: 66.666%; top: 66.666%; }
  .t_over:nth-child(1):hover ~ .tilt-box{transform:rotateX(-10deg) rotateY(10deg);}
  .t_over:nth-child(2):hover ~ .tilt-box{transform: rotateX(-10deg) rotateY(0deg)}
  .t_over:nth-child(3):hover ~ .tilt-box{transform: rotateX(-10deg) rotateY(-10deg)}
  .t_over:nth-child(4):hover ~ .tilt-box{transform: rotateX(0deg) rotateY(10deg)}
  .t_over:nth-child(5):hover ~ .tilt-box{transform: rotateX(0deg) rotateY(0deg)}
  .t_over:nth-child(6):hover ~ .tilt-box{transform: rotateX(0deg) rotateY(-10deg)}
  .t_over:nth-child(7):hover ~ .tilt-box{transform:rotateX(10deg) rotateY(10deg);}
  .t_over:nth-child(8):hover ~ .tilt-box{transform: rotateX(10deg) rotateY(0deg)}
  .t_over:nth-child(9):hover ~ .tilt-box{transform: rotateX(10deg) rotateY(-10deg)}
  @include tablet {
    .t_over {
      display: none;
    }
  }
}