.video {
  position: absolute;
  width: 100%;
  &-height {
    display: block;
    height: 100vh;
  }
  &__text {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Kaushan Script', cursive;
    font-size: 100px;
    color: #ffffff;
    animation: typewriter 1s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite ;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    @include tablet-sm {
      font-size: 50px;
    }
  }

  video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position:relative;
    z-index: 0;
  }
  .overlay {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    opacity: 0.1;
  }
}

.marquee-container{
  display: flex;
  align-items: center;
  background: #1b1b1b;
  overflow: hidden;
}

.marquee{
  font-size: 25px;
  line-height: 1.3;
  font-family: sans-serif;
  padding: 24px 0;
  color: #fff;
  white-space: nowrap;
  animation: marquee 10s infinite linear;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.marquee:after{
  content: " mode - blueprint - design - game - plan - ground - plan - intrigue - layout - line - model - plan - plot - program - route - scheme - ";
}
@keyframes marquee{
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-50%)
  }
}