.shop , .wishlist {
  &__container {
    max-width: 1200px;
    justify-content: center;
    display: flex;
    margin: auto;
    padding: 50px 0;
    @include desktop-sm {
      width: 90%;
    }
    @include mobile {
      flex-direction: column;
    }
    .sort__prod {
      width: 100%;
      .sort {
        display: flex;
        justify-content: end;
        margin:  0 0 20px;
        &__by {
          &__option {
            cursor: pointer;
          }
          &__indicator {
            &-separator {
              display: none;
            }
          }
        }
        &__select {
          width: 200px;
        }
      }
    }
  }
  .filter {
    min-width: 190px;
    @include mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      height: 226px;
      margin: 20px 0;
      .checkbox {
        font-size: 17px;
        span {
          top: 8px;
          left: 38px;
        }
        svg {
          width: 40px;
          height: 40px;
        }
      }
      .brands {
        grid-area: 2 / 1 / 3 / 2;
        margin: auto;
        width: 100%;
        font-size: 28px;
      }
      .category {
        grid-area: 2 / 2 / 3 / 3;
        margin: auto;
        width: 100%;
        font-size: 28px;
      }
      h1 {
        font-size: 48px !important;
        grid-area: 1 / 1 / 2 / 3;
        margin: auto;
      }
    }
    .brands {
      grid-area: 2 / 1 / 3 / 2;
      margin: auto;
    }
    .category {
      grid-area: 2 / 2 / 3 / 3;
      margin: auto;
    }
    h1 {
      font-size: 28px;
      grid-area: 1 / 1 / 2 / 3;
    }
    h2 {
      font-size: 20px;
      margin: 20px 0 0;
    }
  }
  .products{
    display: grid;
    width: 100%;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @include desktop-sm {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include tablet {
      grid-template-columns: 1fr 1fr;
    }
    @include tablet-pc {
      grid-template-columns: 1fr;
    }
    a {
      text-decoration: none;
      color: #000;
    }
    &__item {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: auto;
      border: 1px solid rgb(238, 238, 238);
      width: 202px;
      position: relative;
      @include mobile {
        width: auto;
      }
      .delete {
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
      }
      &__image {
        height: 270px;
        @include mobile {
          height: unset;
          width: auto;
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
      &__text {
        padding: 10px 10px 5px;
        .title {
          letter-spacing: .5px;
          font-size: 18px;
        }
        .brand {
          letter-spacing: .5px;
          color: rgb(119, 119,119);
        }
      }
    }
  }
}
.wishlist {
  width: 60%;
  margin: 70px auto 0;
  @include tablet-pc {
    width: 90%;
  }
  h1 {
    padding: 0 0 20px;
  }
}